.aboutUs-section1 {
  background: #EDF6F9;

  .aboutUs-section1-wrapper {
    padding: 56px 32px;

    .row {
      display: flex;
      margin: 0 -12px;

      &.justify-between {
        justify-content: space-between;
      }

      .column {
        width: 50%;
        flex: 0 0 50%;
        padding: 0 12px;
      }
    }

    .title {
      font-family: 'Canela Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 12px;

      &.gold {
        color: #D2C6A5;
        margin: 0;
        text-transform: lowercase;
        font-style: italic;
      }
    }

    .imgs-wrapper {
      gap: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .img-wrapper {
        width: 210px;
        height: 280px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .img-wrapper-with-button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        .img-wrapper{
          width: 210px;
          height: 140px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .more-about-btn{
          position: relative;
          display: flex;
          align-items: center;
          margin-top: 30px;
          margin-left: 30px;
          margin-bottom: 30px;
          &:after{
            content: '';
            position: absolute;
            top: -25px;
            left: -35px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 1px solid #D2C6A5;
            opacity: 0.3;
            clip-path: ellipse(71px 80px at 10% 50%);
          }
          span{
            font-family: 'Canela Trial';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            color: #1F1F1F;
          }
          img{
            width: 15px;
            height: 12px;
            margin-left: 9px;
            margin-top: 2px;
          }
        }
      }
    }
  }
}
.aboutUs-section2{
  padding: 90px 0;
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .image-wrapper{
      width: 233px;
      height: 334px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text-wrapper{
      h2{
        font-family: 'Canela Trial';
        font-style: normal;
        font-weight: 100;
        font-size: 64px;
        line-height: 77px;
        text-align: center;
        margin: 0 auto 24px;
        letter-spacing: 0.02em;
        color: #1F1F1F;
      }
      p{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #1F1F1F;
        max-width: 466px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
.aboutUs-section3{
  padding-top: 50px;
  padding-bottom: 120px;
  .section-row{
    display: flex;
    flex-direction: column;
    position: relative;
    .title{
      font-family: 'Canela Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
      letter-spacing: 0.02em;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 24px;
    }
    .description{
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 70px;
    }
    .row{
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 24px;
      div{
        &:first-child{
          width: 466px;
          height: 299px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &:last-child{
          width: 210px;
          height: 299px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .gold-text{
      max-width: 466px;
      width: 400%;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #D2C6A5;
      margin-bottom: 0;
      margin-top: 24px;
    }
    .big-image{
      width: 443px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.aboutUs-section4{
  width: 100%;
  height: 693px;
  position: relative;
  .video{
    background: #1F1F1F;
  }
  .play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255, 0.69);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 300ms ease-in-out;
    opacity: 1;
    img{
      width: 24px;
      height: 24px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.aboutUs-section5{
  padding-top: 95px;
  padding-bottom: 32px;
  .title{
    font-family: 'Canela Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1F1F1F;
    margin-top: 0;
    margin-bottom: 56px;
  }
  .row{
    display: flex;
    margin: 0 -12px;
    .col{
      width: 33.3%;
      flex: 0 0 33.3%;
      padding: 0 12px;
      .cart{
        width: 100%;
        .image{
          width: 100%;
          height: 250px;
          margin: 0;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .cart-info{
          padding: 32px;
          display: flex;
          flex-direction: column;
          gap: 24px;
          background-color: #EDF6F9;
          p{
            margin: 0;
          }
          .cart-title{
            font-family: 'Canela Trial';
            font-style: normal;
            font-weight: 100;
            font-size: 32px;
            line-height: 32px;
            color: #1F1F1F;
          }
          .cart-description{
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #1F1F1F;
          }
          .cart-id{
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            text-align: right;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #D2C6A5;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}