.inner-container{
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.back-to-media{
  display: none;
  padding: 32px 24px;
  background-color: #FFFFFF;
  a{
    text-decoration: none;
    display: flex;
    align-items: center;
    img{
      transform: rotate(180deg);
      margin-right: 16px;
    }
    p{
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #1F1F1F;
    }
  }
}
.currentMedia-section1{
  padding: 120px 0;
  background: #EDF6F9;
  position: relative;

  .title{
    max-width: 665px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Canela-Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1F1F1F;
  }
  .social-icons{
    position: fixed;
    top: 82px;
    right: 0;
    padding: 9px 32px;
    background-color: #D2C6A5;
    display: flex;
    align-items: center;
    .icon{
      width: 28px;
      height: 28px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 200ms ease-in-out;
      &:hover{
        transform: scale(1.5);
      }
    }
  }
}
.currentMedia-section2{
  padding: 24px 0;
  .top-info{
    display: flex;
    align-items: center;
    margin-bottom: 78px;
    gap: 24px;
    p{
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #1F1F1F;
      margin: 0;
    }
    .line{
      width: 1px;
      height: 16px;
      background-color: #D2C6A5;
    }
  }
  .title{
    font-family: 'Canela-Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #1F1F1F;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .text{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
    margin: 0;
  }
  .media-image{
    width: 910px;
    height: 515px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .image-info{
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 70px;
  }
}
.currentMedia-section3{
  background: #F3EAE4;
  padding: 100px;
  .text{
    font-family: 'Canela-Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
    margin: 0;
  }
  .backticks{
    position: absolute;
    top: 4px;
    left: -108px;
    width: 60px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.currentMedia-section4{
  padding-top: 70px;
  padding-bottom: 96px;
  .text{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
  }
  .similar-media{
    .title{
      font-family: 'Canela-Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 40px;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
    .media-item{
      max-width: 440px;
      width: 100%;
      .media-item-content{
        .media-image{
          position: relative;
          width: 100%;
          height: 251px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .media-type{
            position: absolute;
            width: 131px;
            height: 48px;
            background: #D2C6A5;
            left: 32px;
            bottom: 0;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.05em;
            color: #1F1F1F;
          }
        }
        .media-info{
          padding: 32px;
          background-color: #EDF6F9;
          .media-title{
            font-family: 'Canela-Trial';
            font-style: normal;
            font-weight: 100;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: 0.02em;
            color: #1F1F1F;
            margin-top: 0;
            margin-bottom: 24px;
          }
          .media-description{
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #1F1F1F;
            margin-top: 0;
            margin-bottom: 32px;
          }
          .read-more-link{
            display: flex;
            text-decoration: none;
            align-items: center;
            cursor: pointer;
            transition: all 200ms ease-in-out;
            &:hover{
              transform: scale(1.05);
            }
            p{
              margin: 0;
              font-family: 'Canela-Trial';
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: #1F1F1F;
            }
            img{
              width: 15px;
              height: 10px;
              margin-top: 3px;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .back-to-media{
    display: block;
  }
  .inner-container{
    padding: 0 24px;
  }
  .currentMedia-section1{
    padding: 87px 0 40px 0;
    .title{
      font-size: 40px;
      line-height: 48px;
    }
    .social-icons{
      position: absolute;
      top: 0;
      gap: 45px;
      .icon{
        width: 24px;
        height: 24px;
      }
    }
  }
  .currentMedia-section2{
    .top-info{
      margin-bottom: 40px;
      p{
        font-size: 12px;
        line-height: 24px;
      }
    }
    .title{
      font-size: 24px;
      line-height: 29px;
    }
    .media-image{
      width: 100%;
      height: auto;
      img{
        height: auto;
      }
    }
  }
  .currentMedia-section3{
    padding: 40px 24px 40px 54px;
    .relative{
      position: relative;
    }
    .backticks{
      width: 22px;
      height: 14px;
      left: -20px;
      top: 15px;
    }
  }
  .currentMedia-section4{
    padding: 64px 24px;

  }
}