.lookbook-wrapper {
  padding: 20px 32px 40px;
  display: flex;
  flex-direction: row;
  gap: 24px;

  .left {
    max-width: 560px;
    width: 100%;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #D2C6A5;

    p {
      margin-top: 0;
    }

    .top {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 108px;
    }

    .middle {
      font-family: 'Canela-Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 80px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
    }

    .bottom {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #FFFFFF;
      max-width: 255px;
      width: 100%;
    }
  }

  .lookbook-image-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    cursor: grab;
    .lookbook-image {
      width: 2000px;
      height: 650px;
      background-image: url(../../assets/images/lookbook-page-image.png);
      background-repeat: no-repeat;
      background-size: unset;
      background-position: bottom;
      position: relative;
      -webkit-animation: waves 10s infinite;
      -moz-animation: waves 10s infinite;
      animation: waves 10s infinite;
    }
  }
  .lookbook-image-wrapper-mobile{
    display: none;
    flex-direction: column;
    padding: 32px 24px 64px;
    gap: 32px;
    .img{
      width: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .first-image{
      max-width: 380px;
      height: 253px;
      margin: 0 auto;
    }
    .second-image{
      max-width: 281px;
      height: 377px;
      margin-left: 16px;
    }
    .third-image{
      max-width: 282px;
      height: 408px;
      margin-left: auto;
      margin-right: 33px;
    }
    .forth-image{
      max-width: 281px;
      height: 405px;
      margin: 0 auto;
    }
    .fifth-img{
      display: flex;
      gap: 16px;
      margin: 0 auto;
      .fifth-image{
        max-width: 133px;
        height: 178px;
      }
      .sixth-image{
        max-width: 231px;
        height: 337px;
        margin-top: 32px;
      }
    }
    .seventh-image{
      max-width: 380px;
      height: 253px;
      margin: 0 auto;
    }
    .eight-image{
      max-width: 379px;
      height: 549px;
      margin: 0 auto;
    }
  }
}

@-webkit-keyframes waves {
  0% {
    left: -1200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -1200px;
  }
}

@-moz-keyframes waves {
  0% {
    left: -1200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -1200px;
  }
}

@keyframes waves {
  0% {
    left: -1200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -1200px;
  }
}


@media (max-width: 768px) {
  .lookbook-wrapper{
    flex-direction: column;
    padding: 20px 0 0;
    gap: 0;
    .left{
      max-width: 100%;
      padding: 64px 0 0;
    }
    .lookbook-image-wrapper{
      display: none;
    }
    .lookbook-image-wrapper-mobile{
      display: flex;
    }
  }
}