.lookbook-wrapper {
  padding: 20px 32px 40px;
  display: flex;
  flex-direction: row;
  gap: 24px;

  .left {
    max-width: 560px;
    width: 100%;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #D2C6A5;

    p {
      margin-top: 0;
    }

    .top {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 108px;
    }

    .middle {
      font-family: 'Canela Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 80px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
    }

    .bottom {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #FFFFFF;
      max-width: 255px;
      width: 100%;
    }
  }

  .lookbook-image-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    cursor: grab;
    .lookbook-image {
      width: 2000px;
      height: 650px;
      background-image: url(../../assets/images/lookbook-page-image.png);
      background-repeat: no-repeat;
      background-size: unset;
      background-position: bottom;
      position: relative;
      -webkit-animation: waves 10s infinite;
      -moz-animation: waves 10s infinite;
      animation: waves 10s infinite;
    }
  }
}

@-webkit-keyframes waves {
  0% {
    left: -1200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -1200px;
  }
}

@-moz-keyframes waves {
  0% {
    left: -1200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -1200px;
  }
}

@keyframes waves {
  0% {
    left: -1200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -1200px;
  }
}


@media (max-width: 768px) {
  .lookbook-wrapper{
    flex-direction: column;
    padding: 20px 0 40px;
    gap: 32px;
    .left{
      max-width: 100%;
      padding: 64px 0;
    }
  }
}