.media-section1{
  padding: 50px 0 30px;
  background-color: #EDF6F9;
  display: flex;
  align-items: center;
  justify-content: center;
  .content{
    .title{
      font-family: 'Canela-Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 16px;
    }
    .dropdown {
      width: 443px;
      margin: 0;
      padding: 0;
      border: 1px solid #EAE6D8;

      @media (max-width: 500px) {
        width: 100%;
      }

      .dropdown--switch:checked + .dropdown--options-filter .dropdown--select {
        transform: scaleY(1);
      }

      .dropdown--switch:checked + .dropdown--options-filter .dropdown--filter:after {
        transform: rotate(-135deg);
        top: 26px;
      }

      .dropdown--options-filter {
        width: 100%;
        cursor: pointer;
      }

      .dropdown--filter {
        position: relative;
        display: flex;
        color: #1F1F1F;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        transition: .3s;
        margin: 0;
        list-style-type: none;
        padding: 18px 24px;

        .dropdown--filter-selected {
          font-size: 16px;
          line-height: 19px;
          color: #1F1F1F;
        }

        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
        }

        &::after {
          position: absolute;
          top: 23px;
          right: 24px;
          content: '';
          width: 5px;
          height: 5px;
          border-right: 2px solid #1F1F1F;
          border-bottom: 2px solid #1F1F1F;
          border-radius: 0.5px;
          transform: rotate(45deg);
          transition: .2s ease-in-out;
        }
      }

      .dropdown--select {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin-top: 8px;
        border: 1px solid #D2C6A5;
        transform: scaleY(0);
        transform-origin: top;
        font-weight: 300;
        transition: .2s ease-in-out;
        list-style-type: none;
        padding: 0;
        background: #fff;
        z-index: 1;

        &:after {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          border-left: 1px solid #D2C6A5;
          border-top: 1px solid #D2C6A5;
          background: #fff;
          top: -4px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
        }
      }

      .dropdown-select-option {
        padding: 14px 0;
        margin: 0 24px;
        background-color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        color: #1F1F1F;
        transition: all 200ms ease-in-out;
        border-bottom: 1px solid #EAE6D8;
        &:last-child{
          border-bottom: 0;
        }

        &:hover {
          color: #D2C6A5;
        }
      }
    }
  }
}

.media-section2{
    .content{
      padding: 56px 32px;
      .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-bottom: 120px;
      }
      .media-item{
        max-width: 440px;
        width: 100%;
        .media-item-content{
          .media-image{
            position: relative;
            width: 100%;
            height: 251px;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .media-type{
              position: absolute;
              width: 131px;
              height: 48px;
              background: #D2C6A5;
              left: 32px;
              bottom: 0;
              text-transform: uppercase;
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              letter-spacing: 0.05em;
              color: #1F1F1F;
            }
          }
          .media-info{
            padding: 32px;
            background-color: #EDF6F9;
            .media-title{
              font-family: 'Canela-Trial';
              font-style: normal;
              font-weight: 100;
              font-size: 32px;
              line-height: 32px;
              letter-spacing: 0.02em;
              color: #1F1F1F;
              margin-top: 0;
              margin-bottom: 24px;
            }
            .media-description{
              font-weight: 300;
              font-size: 16px;
              line-height: 24px;
              color: #1F1F1F;
              margin-top: 0;
              margin-bottom: 32px;
            }
            .read-more-link{
              display: flex;
              text-decoration: none;
              align-items: center;
              cursor: pointer;
              transition: all 200ms ease-in-out;
              &:hover{
                transform: scale(1.05);
              }
              p{
                margin: 0;
                font-family: 'Canela-Trial';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
                color: #1F1F1F;
              }
              img{
                width: 15px;
                height: 10px;
                margin-top: 3px;
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
}

.media-pagination{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px solid #EFF2F4;
  margin-bottom: -1px;
  .pagination-item{
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #C5C5C5;
    padding-bottom: 16px;
    margin: 0 0 -1px;
    &.active{
      color: #1F1F1F;
      border-bottom: 1px solid #1F1F1F;
    }
  }
}