@import "fonts";
@import "header";
@import "homepage";
@import "footer";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #1F1F1F;
}






