@import "fonts";
@import "header";
@import "homepage";
@import "shoppage";
@import "productDetailPage";
@import "aboutUsPage";
@import "contactUsPage";
@import "exploreProductsPage";
@import "mediaPage";
@import "currentMediaPage";
@import "lookbookPage";
@import "authorizationPage";
@import "profilePage";
@import "cartPage";
@import "thankyou";
@import "footer";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #1F1F1F;
}

.button {
  background: #D2C6A5;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #1F1F1F;
  border: 1px solid transparent;

  &.outlined {
    background-color: transparent;
    border: 1px solid #D2C6A5;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}





