.aboutUs-section1 {
  background: #EDF6F9; }
  .aboutUs-section1 .aboutUs-section1-wrapper {
    padding: 56px 32px; }
    .aboutUs-section1 .aboutUs-section1-wrapper .row {
      display: flex;
      margin: 0 -12px; }
      .aboutUs-section1 .aboutUs-section1-wrapper .row.justify-between {
        justify-content: space-between; }
      .aboutUs-section1 .aboutUs-section1-wrapper .row .column {
        width: 50%;
        flex: 0 0 50%;
        padding: 0 12px; }
    .aboutUs-section1 .aboutUs-section1-wrapper .mobile-title {
      display: none;
      font-family: 'Canela-Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0.02em;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 32px; }
      .aboutUs-section1 .aboutUs-section1-wrapper .mobile-title span {
        color: #D2C6A5;
        font-style: italic; }
    .aboutUs-section1 .aboutUs-section1-wrapper .title {
      font-family: 'Canela-Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 12px; }
      .aboutUs-section1 .aboutUs-section1-wrapper .title.gold {
        color: #D2C6A5;
        margin: 0;
        text-transform: lowercase;
        font-style: italic; }
    .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper {
      gap: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%; }
      .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper {
        width: 210px;
        height: 280px; }
        .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%; }
        .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .img-wrapper {
          width: 210px;
          height: 140px; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .img-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn {
          position: relative;
          display: flex;
          align-items: center;
          margin-top: 30px;
          margin-left: 30px;
          margin-bottom: 30px; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn:after {
            content: '';
            position: absolute;
            top: -25px;
            left: -35px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 1px solid #D2C6A5;
            clip-path: ellipse(68px 80px at 10% 50%); }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn span {
            font-family: 'Canela-Trial';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            color: #1F1F1F; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn svg {
            width: 15px;
            height: 12px;
            margin-left: 9px;
            margin-top: 2px;
            transform: rotate(90deg); }
            .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn svg line {
              stroke: #1A1515; }
            .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn svg path {
              stroke: #1A1515; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn:hover svg line {
            stroke: #D2C6A5; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn:hover svg path {
            stroke: #D2C6A5; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn:active span {
            color: #D2C6A5; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn.disabled span {
            color: #C5C5C5; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn.disabled svg line {
            stroke: #C5C5C5; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn.disabled svg path {
            stroke: #C5C5C5; }
          .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn.disabled:after {
            border-color: #EFF2F4; }

.aboutUs-section2 {
  padding: 90px 32px; }
  .aboutUs-section2 .row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .aboutUs-section2 .row .image-wrapper {
      width: 233px;
      height: 334px; }
      .aboutUs-section2 .row .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .aboutUs-section2 .row .text-wrapper h2 {
      font-family: 'Canela-Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      margin: 0 auto 24px;
      letter-spacing: 0.02em;
      color: #1F1F1F; }
    .aboutUs-section2 .row .text-wrapper p {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #1F1F1F;
      max-width: 466px;
      width: 100%;
      margin: 0 auto; }

.aboutUs-section3 {
  padding: 50px 32px 120px; }
  .aboutUs-section3 .section-row {
    display: flex;
    flex-direction: column;
    position: relative; }
    .aboutUs-section3 .section-row .title {
      font-family: 'Canela-Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
      letter-spacing: 0.02em;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 24px; }
    .aboutUs-section3 .section-row .description {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 70px;
      max-width: 466px;
      width: 100%; }
    .aboutUs-section3 .section-row .row {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 24px; }
      .aboutUs-section3 .section-row .row div:first-child {
        width: 466px;
        height: 299px; }
        .aboutUs-section3 .section-row .row div:first-child img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .aboutUs-section3 .section-row .row div:last-child {
        width: 210px;
        height: 299px; }
        .aboutUs-section3 .section-row .row div:last-child img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
    .aboutUs-section3 .section-row .gold-text {
      max-width: 466px;
      width: 400%;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #D2C6A5;
      margin-bottom: 0;
      margin-top: 24px; }
    .aboutUs-section3 .section-row .big-image {
      width: 443px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0; }
      .aboutUs-section3 .section-row .big-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.aboutUs-section3-mobile {
  display: none;
  padding: 0 24px; }
  .aboutUs-section3-mobile .title {
    font-family: 'Canela Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #1F1F1F;
    margin-top: 0;
    margin-bottom: 12px; }
  .aboutUs-section3-mobile .description {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
    margin-top: 0;
    margin-bottom: 12px; }
  .aboutUs-section3-mobile .images {
    margin-bottom: 24px; }
    .aboutUs-section3-mobile .images .first-image {
      width: 100%;
      height: 266px;
      margin-bottom: 16px; }
      .aboutUs-section3-mobile .images .first-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
    .aboutUs-section3-mobile .images .row {
      display: flex;
      margin: 0 -8px; }
      .aboutUs-section3-mobile .images .row .column {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 8px; }
        .aboutUs-section3-mobile .images .row .column .image {
          width: 100%;
          height: 376px; }
          .aboutUs-section3-mobile .images .row .column .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center; }
  .aboutUs-section3-mobile .gold-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #D2C6A5;
    margin-top: 0;
    margin-bottom: 74px; }

.aboutUs-section4 {
  width: 100%;
  position: relative;
  background: #F3EAE4;
  padding: 141px 32px 118px; }
  .aboutUs-section4 .title {
    font-family: 'Canela Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 136px;
    line-height: 163px;
    letter-spacing: 0.02em;
    color: #282828;
    position: absolute;
    top: -90px;
    left: 0;
    margin: 0; }
  .aboutUs-section4 .content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    .aboutUs-section4 .content .col {
      width: 50%;
      flex: 0 0 50%; }
      .aboutUs-section4 .content .col .right-image {
        max-width: 700px;
        width: 100%;
        height: 434px;
        margin-left: auto; }
        .aboutUs-section4 .content .col .right-image img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .aboutUs-section4 .content .col .left {
        margin-left: 118px; }
        .aboutUs-section4 .content .col .left .user-image {
          position: relative;
          width: 93px;
          height: 112px;
          margin-bottom: 77px; }
          .aboutUs-section4 .content .col .left .user-image svg {
            width: 61px;
            height: 38px;
            position: absolute;
            top: 0;
            left: -37px; }
          .aboutUs-section4 .content .col .left .user-image img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .aboutUs-section4 .content .col .left .text {
          max-width: 442px;
          width: 100%;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          color: #565656;
          margin: 0; }

.aboutUs-section5 {
  padding: 95px 32px 32px; }
  .aboutUs-section5 .title {
    font-family: 'Canela-Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1F1F1F;
    margin-top: 0;
    margin-bottom: 56px; }
  .aboutUs-section5 .row {
    display: flex;
    margin: 0 -12px; }
    .aboutUs-section5 .row .col {
      width: 33.3%;
      flex: 0 0 33.3%;
      padding: 0 12px; }
      .aboutUs-section5 .row .col .cart {
        width: 100%; }
        .aboutUs-section5 .row .col .cart .image {
          width: 100%;
          height: 251px;
          margin: 0; }
          .aboutUs-section5 .row .col .cart .image img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .aboutUs-section5 .row .col .cart .cart-info {
          padding: 32px;
          display: flex;
          flex-direction: column;
          gap: 24px;
          background-color: #EDF6F9; }
          .aboutUs-section5 .row .col .cart .cart-info p {
            margin: 0; }
          .aboutUs-section5 .row .col .cart .cart-info .cart-title {
            font-family: 'Canela-Trial';
            font-style: normal;
            font-weight: 100;
            font-size: 32px;
            line-height: 32px;
            color: #1F1F1F; }
          .aboutUs-section5 .row .col .cart .cart-info .cart-description {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #1F1F1F; }
          .aboutUs-section5 .row .col .cart .cart-info .cart-id {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            text-align: right;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #D2C6A5;
            display: flex;
            justify-content: flex-end; }

@media (max-width: 991px) {
  .aboutUs-section1 .aboutUs-section1-wrapper {
    padding: 40px 24px; }
    .aboutUs-section1 .aboutUs-section1-wrapper .row {
      flex-wrap: wrap;
      margin: 0 -8px; }
      .aboutUs-section1 .aboutUs-section1-wrapper .row .column {
        width: 100%;
        flex: 0 0 100%;
        padding: 0; }
    .aboutUs-section1 .aboutUs-section1-wrapper .title {
      display: none; }
    .aboutUs-section1 .aboutUs-section1-wrapper .mobile-title {
      display: block; }
    .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper {
      gap: 16px;
      align-items: flex-end;
      justify-content: flex-start; }
      .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper:first-child {
        width: 182px;
        height: 244px; }
      .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper.absolute-mobile {
        position: absolute;
        top: 0;
        left: 0; }
      .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper:last-child {
        width: 182px;
        height: 381px; }
      .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button {
        height: auto; }
        .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .img-wrapper {
          width: 182px;
          height: 121px; }
        .aboutUs-section1 .aboutUs-section1-wrapper .imgs-wrapper .img-wrapper-with-button .more-about-btn {
          display: none; }
  .aboutUs-section2 {
    padding: 64px 24px; }
    .aboutUs-section2 .row {
      flex-direction: column;
      padding-top: 150px; }
      .aboutUs-section2 .row .text-wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%; }
        .aboutUs-section2 .row .text-wrapper h2 {
          font-weight: 100;
          font-size: 40px;
          line-height: 48px;
          margin-bottom: 24px; }
        .aboutUs-section2 .row .text-wrapper p {
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          max-width: 100%; }
      .aboutUs-section2 .row .image-wrapper {
        width: 281px;
        height: 402px; }
        .aboutUs-section2 .row .image-wrapper:first-child {
          margin-right: auto;
          margin-bottom: 16px; }
        .aboutUs-section2 .row .image-wrapper:last-child {
          margin-left: auto; }
  .aboutUs-section3 {
    display: none;
    padding: 0 24px 30px; }
    .aboutUs-section3 .section-row .title {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 12px; }
    .aboutUs-section3 .section-row .description {
      margin-bottom: 32px; }
    .aboutUs-section3 .section-row .big-image {
      display: none; }
    .aboutUs-section3 .section-row .row {
      gap: 12px; }
      .aboutUs-section3 .section-row .row div {
        width: 182px !important;
        height: 324px !important; }
  .aboutUs-section3-mobile {
    display: block; }
  .aboutUs-section4 {
    padding: 107px 24px 40px; }
    .aboutUs-section4 .title {
      font-size: 64px;
      line-height: 61px;
      max-width: 312px;
      top: -70px;
      left: 28px; }
    .aboutUs-section4 .content {
      flex-wrap: wrap-reverse; }
      .aboutUs-section4 .content .col {
        width: 100%;
        flex: 0 0 100%; }
        .aboutUs-section4 .content .col .right-image {
          max-width: 100%;
          margin-bottom: 60px;
          height: 272px; }
        .aboutUs-section4 .content .col .left {
          margin-left: 50px; }
          .aboutUs-section4 .content .col .left .user-image {
            width: 83px;
            height: 100px;
            margin-bottom: 52px; }
            .aboutUs-section4 .content .col .left .user-image svg {
              width: 34px;
              height: 21px;
              top: -6px;
              left: -28px; }
          .aboutUs-section4 .content .col .left .text {
            max-width: 380px; }
  .aboutUs-section5 {
    padding: 64px 24px; }
    .aboutUs-section5 .title {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 32px; }
    .aboutUs-section5 .row {
      margin: 0;
      flex-direction: column; }
      .aboutUs-section5 .row .col {
        padding: 0;
        width: 100%;
        flex: 0 0 100%; }
        .aboutUs-section5 .row .col .cart {
          margin-bottom: 24px; }
        .aboutUs-section5 .row .col:last-child .cart {
          margin-bottom: 0; } }
