.create-account-page {
  padding: 90px 32px 65px; }
  .create-account-page .row {
    display: flex;
    justify-content: space-between; }
  .create-account-page .left {
    width: 92px;
    height: 142px; }
    .create-account-page .left img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .create-account-page .right {
    width: 326px;
    height: 504px; }
    .create-account-page .right img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .create-account-page .center {
    max-width: 442px;
    width: 100%; }
    .create-account-page .center .sign-up-form {
      display: none; }
      .create-account-page .center .sign-up-form form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px; }
        .create-account-page .center .sign-up-form form input {
          width: 100%;
          padding: 19px 24px;
          border: 1px solid #EAE6D8;
          outline: none;
          box-shadow: none;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #1F1F1F; }
          .create-account-page .center .sign-up-form form input::placeholder {
            color: #C5C5C5; }
        .create-account-page .center .sign-up-form form button {
          padding: 18px 24px;
          background: #D2C6A5;
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #1F1F1F;
          outline: none;
          width: 100%;
          border: none;
          text-transform: uppercase;
          cursor: pointer; }
    .create-account-page .center .title {
      font-family: 'Canela-Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 16px; }
    .create-account-page .center .subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 90px;
      max-width: 320px;
      width: 100%; }
    .create-account-page .center .buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px; }
      .create-account-page .center .buttons .sign-up-with {
        padding: 21px 17px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #1F1F1F;
        position: relative;
        width: 100%;
        background: #F3EAE4;
        border: none;
        outline: none;
        cursor: pointer; }
        .create-account-page .center .buttons .sign-up-with img {
          position: absolute;
          width: 14px;
          height: 14px;
          object-fit: contain;
          top: 21px;
          left: 17px; }
    .create-account-page .center .or {
      display: flex;
      align-items: center; }
      .create-account-page .center .or .line {
        width: 100%;
        height: 1px;
        background: #F3EAE4; }
      .create-account-page .center .or p {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #C5C5C5;
        margin: 24px 20px; }
    .create-account-page .center .sign-up-with-email {
      width: 100%;
      padding: 16px 0;
      background-color: #D2C6A5;
      cursor: pointer;
      text-transform: uppercase;
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #1F1F1F; }
