.explore-links {
  padding: 56px 150px 100px;
  background-color: #F3EAE4;
  height: 720px; }
  .explore-links .title {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1F1F1F;
    margin-top: 0;
    margin-bottom: 42px; }
  .explore-links .links .link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .explore-links .links .link .text {
      cursor: pointer;
      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
      font-family: 'Canela Trial';
      letter-spacing: 0.02em;
      color: #1F1F1F;
      margin-bottom: 40px;
      margin-top: 0;
      transition: all 0.5s ease-in-out;
      text-decoration: none; }
  .explore-links .links .link:hover ~ .right-photos {
    opacity: 0; }
  .explore-links .links {
    width: 100%;
    height: 100%;
    position: relative; }
    .explore-links .links .link .hovered-images img {
      width: 209px;
      height: 318px;
      object-fit: cover;
      position: absolute;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out; }
      .explore-links .links .link .hovered-images img:first-child {
        top: -20px;
        left: 0; }
      .explore-links .links .link .hovered-images img:last-child {
        right: 0;
        bottom: 60px; }
    .explore-links .links .link .text:hover + .hovered-images img {
      opacity: 1; }
    .explore-links .links .link .text:hover {
      color: #D2C6A5;
      font-style: italic; }
    .explore-links .links .link:first-child .hovered-images img {
      opacity: 1; }

.explore-section1 {
  padding: 0 32px;
  margin-bottom: 100px; }
  .explore-section1 .row {
    display: flex;
    align-items: flex-end; }
    .explore-section1 .row .column {
      width: 50%;
      flex: 0 0 50%; }
  .explore-section1 .title-mobile {
    display: none;
    font-family: 'Canela Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 48px;
    color: #1F1F1F;
    text-transform: uppercase; }
    .explore-section1 .title-mobile span {
      text-transform: lowercase;
      color: #D2C6A5; }
  .explore-section1 .title {
    font-family: 'Canela Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.02em;
    color: #1F1F1F;
    margin-top: 0;
    margin-bottom: 16px; }
    .explore-section1 .title.gold {
      color: #D2C6A5;
      margin-bottom: 80px;
      font-style: italic; }
  .explore-section1 .description {
    max-width: 209px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
    margin-left: 127px; }
  .explore-section1 .scroll-to {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 70px;
    margin-bottom: 40px;
    cursor: pointer; }
    .explore-section1 .scroll-to:after {
      content: '';
      position: absolute;
      top: -28px;
      left: -35px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #D2C6A5;
      opacity: 0.3;
      clip-path: ellipse(71px 80px at 10% 50%); }
    .explore-section1 .scroll-to span {
      font-family: 'Canela Trial';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: #1F1F1F; }
    .explore-section1 .scroll-to img {
      width: 15px;
      height: 12px;
      margin-left: 9px;
      margin-top: 2px;
      transform: rotate(90deg); }
  .explore-section1 .slider-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 24px; }
    .explore-section1 .slider-wrapper .sliding-items {
      display: flex;
      flex-direction: column; }
      .explore-section1 .slider-wrapper .sliding-items .slide-item {
        width: 233px;
        height: 347px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .explore-section1 .slider-wrapper .sliding-items .slider-buttons {
        display: flex;
        align-items: center; }
        .explore-section1 .slider-wrapper .sliding-items .slider-buttons > div {
          width: 117px;
          height: 117px;
          border-radius: 50%;
          border: 1px solid transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer; }
          .explore-section1 .slider-wrapper .sliding-items .slider-buttons > div:hover {
            border-color: #D2C6A5; }
          .explore-section1 .slider-wrapper .sliding-items .slider-buttons > div.prev-slide {
            transform: rotate(180deg); }
    .explore-section1 .slider-wrapper .active-slide {
      width: 443px;
      height: 654px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }

.explore-section2 {
  padding: 0 32px; }
  .explore-section2 .row {
    display: flex;
    align-items: center;
    margin: 0 -12px; }
    .explore-section2 .row .col {
      padding: 0 12px;
      width: 33.3%;
      flex: 0 0 33.3%; }
  .explore-section2 .title {
    font-family: 'Canela Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #1F1F1F;
    margin-top: 0;
    margin-bottom: 55px; }
  .explore-section2 .description {
    max-width: 330px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #1F1F1F;
    margin: 0 0 0 90px; }
  .explore-section2 .img-wrapper {
    width: 100%;
    height: 663px; }
    .explore-section2 .img-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }

.explore-section3 {
  padding-left: 32px;
  margin-top: 150px; }
  .explore-section3 .row {
    display: flex; }
    @media (max-width: 720px) {
      .explore-section3 .row {
        flex-wrap: wrap; } }
    .explore-section3 .row .image {
      width: 30%;
      flex: 0 0 30%;
      max-height: 900px; }
      @media (max-width: 720px) {
        .explore-section3 .row .image {
          width: 100%;
          flex: 0 0 100%; } }
      .explore-section3 .row .image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .explore-section3 .row .slider-wrapper {
      width: 70%;
      flex: 0 0 70%;
      padding-left: 120px; }
      @media (max-width: 1100px) {
        .explore-section3 .row .slider-wrapper {
          padding-left: 60px; } }
      @media (max-width: 720px) {
        .explore-section3 .row .slider-wrapper {
          padding-left: 0px;
          width: 100%;
          flex: 0 0 100%; } }
      .explore-section3 .row .slider-wrapper h3 {
        font-family: 'Canela Trial';
        font-style: normal;
        font-weight: 100;
        font-size: 64px;
        line-height: 77px;
        letter-spacing: 0.02em;
        color: #1F1F1F;
        margin-top: 0;
        margin-bottom: 16px; }
      .explore-section3 .row .slider-wrapper .description {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #1F1F1F;
        margin: 0;
        max-width: 320px;
        width: 100%; }
      .explore-section3 .row .slider-wrapper .slider-item {
        width: 210px;
        height: 348px; }
        .explore-section3 .row .slider-wrapper .slider-item .title {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #1F1F1F;
          margin-top: 0;
          margin-bottom: 8px; }
        .explore-section3 .row .slider-wrapper .slider-item .price {
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          color: #1F1F1F;
          margin-top: 0;
          margin-bottom: 16px; }
        .explore-section3 .row .slider-wrapper .slider-item .add-to-cart {
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #1F1F1F;
          margin: 0; }
        .explore-section3 .row .slider-wrapper .slider-item .swiper {
          width: 100%;
          height: 100%;
          padding-bottom: 40px; }
        .explore-section3 .row .slider-wrapper .slider-item .swiper-slide {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center; }
        .explore-section3 .row .slider-wrapper .slider-item .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .explore-section3 .row .slider-wrapper .slider-item .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          opacity: 1;
          background: rgba(0, 0, 0, 0.2);
          position: relative; }
          .explore-section3 .row .slider-wrapper .slider-item .swiper-pagination-bullet:first-child {
            background-color: #C2916C; }
          .explore-section3 .row .slider-wrapper .slider-item .swiper-pagination-bullet:nth-child(2) {
            background-color: #1A1515; }
          .explore-section3 .row .slider-wrapper .slider-item .swiper-pagination-bullet:nth-child(3) {
            background-color: #593D35; }
          .explore-section3 .row .slider-wrapper .slider-item .swiper-pagination-bullet:nth-child(4) {
            background-color: #3B312C; }
          .explore-section3 .row .slider-wrapper .slider-item .swiper-pagination-bullet:last-child {
            background-color: #382721; }
        .explore-section3 .row .slider-wrapper .slider-item .swiper-pagination-bullet-active:after {
          content: '';
          position: absolute;
          top: -3px;
          left: -3px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: transparent;
          border: 0.5px solid; }
        .explore-section3 .row .slider-wrapper .slider-item .swiper-button-next-small, .explore-section3 .row .slider-wrapper .slider-item .swiper-button-prev-small {
          bottom: -4px;
          top: auto; }
          .explore-section3 .row .slider-wrapper .slider-item .swiper-button-next-small:after, .explore-section3 .row .slider-wrapper .slider-item .swiper-button-prev-small:after {
            font-size: 12px;
            font-weight: bold;
            color: #1F1F1F; }
      .explore-section3 .row .slider-wrapper .big-slider .bigSwiper {
        width: 100%;
        height: 500px;
        padding-top: 70px; }
        .explore-section3 .row .slider-wrapper .big-slider .bigSwiper .swiper-button-prev-big {
          top: 10px;
          left: auto;
          right: 250px; }
          .explore-section3 .row .slider-wrapper .big-slider .bigSwiper .swiper-button-prev-big:after {
            display: none; }
          .explore-section3 .row .slider-wrapper .big-slider .bigSwiper .swiper-button-prev-big img {
            transform: rotate(180deg); }
        .explore-section3 .row .slider-wrapper .big-slider .bigSwiper .swiper-button-next-big {
          top: 10px;
          right: 150px; }
          .explore-section3 .row .slider-wrapper .big-slider .bigSwiper .swiper-button-next-big:after {
            display: none; }
        .explore-section3 .row .slider-wrapper .big-slider .bigSwiper .swiper-pagination-big {
          top: 2px;
          left: auto;
          right: 160px;
          width: 100px; }

.explore-section4 .testimonials {
  padding: 100px 32px; }
  .explore-section4 .testimonials .row {
    display: flex;
    margin: 0 -12px; }
    .explore-section4 .testimonials .row .col {
      width: 33.3%;
      flex: 0 0 33.3%;
      padding: 0 12px; }
  .explore-section4 .testimonials .title {
    font-family: 'Canela Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #282828;
    margin-top: 0;
    margin-bottom: 32px; }
  .explore-section4 .testimonials .cart {
    padding: 32px;
    background: #F3EAE4;
    border-bottom: 4px solid #D2C6A5;
    box-shadow: 0 3px 6px -1px #1f1f1f7a; }
    .explore-section4 .testimonials .cart .cart-number {
      font-family: 'Canela Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
      letter-spacing: 0.02em;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 32px; }
    .explore-section4 .testimonials .cart .cart-description {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #1F1F1F;
      margin-top: 0;
      margin-bottom: 68px; }
    .explore-section4 .testimonials .cart .cart-image {
      display: flex;
      width: 85%;
      justify-content: space-between;
      margin-bottom: 50px; }
      .explore-section4 .testimonials .cart .cart-image .slashs {
        width: 75px;
        height: 50px; }
        .explore-section4 .testimonials .cart .cart-image .slashs img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      .explore-section4 .testimonials .cart .cart-image .user-image {
        display: flex;
        flex-direction: column; }
        .explore-section4 .testimonials .cart .cart-image .user-image .img {
          width: 117px;
          height: 139px;
          overflow: hidden;
          margin-bottom: 16px; }
          .explore-section4 .testimonials .cart .cart-image .user-image .img img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .explore-section4 .testimonials .cart .cart-image .user-image .fullname {
          font-weight: 600;
          font-size: 10px;
          line-height: 16px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #1F1F1F; }
    .explore-section4 .testimonials .cart .cart-footer {
      font-family: 'Canela Trial';
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #D2C6A5; }

.explore-section5 .lookbook {
  background: #1F1F1F;
  padding: 146px 32px 146px 125px;
  position: relative;
  overflow: hidden; }
  .explore-section5 .lookbook .repeat-text {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
    z-index: 1; }
    .explore-section5 .lookbook .repeat-text span {
      font-family: 'Canela Trial';
      font-style: normal;
      font-weight: 100;
      font-size: 136px;
      line-height: 163px;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      color: #282828; }
      .explore-section5 .lookbook .repeat-text span:nth-child(2n) {
        color: #D2C6A5; }
  .explore-section5 .lookbook .row {
    display: flex; }
    .explore-section5 .lookbook .row .column {
      width: 50%;
      flex: 0 0 50%; }
    .explore-section5 .lookbook .row.right {
      align-items: center; }
  .explore-section5 .lookbook .content {
    align-items: flex-end; }
  .explore-section5 .lookbook .left {
    display: flex;
    flex-direction: column; }
    .explore-section5 .lookbook .left .title {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #D2C6A5;
      margin: 0 0 28px; }
    .explore-section5 .lookbook .left .description {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #565656;
      margin: 0 0 59px;
      max-width: 466px;
      width: 100%; }
    .explore-section5 .lookbook .left .link {
      margin: 0;
      font-family: 'Canela Trial';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      cursor: pointer; }
      .explore-section5 .lookbook .left .link span {
        margin: 0 9px 0 0;
        display: inline-block; }

@media (max-width: 991px) {
  .explore-links {
    padding: 20px 24px 50px;
    height: 780px; }
    .explore-links .title {
      margin-bottom: 32px; }
    .explore-links .links .link .text {
      cursor: pointer;
      letter-spacing: 0.02em;
      margin-bottom: 40px;
      margin-top: 0;
      transition: all 0.5s ease-in-out;
      text-decoration: none;
      font-family: 'Canela Trial';
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      color: #1F1F1F; }
    .explore-links .links .link .hovered-images img {
      width: 182px;
      height: 278px; }
      .explore-links .links .link .hovered-images img:first-child {
        top: unset;
        bottom: 60px;
        left: 55%; }
      .explore-links .links .link .hovered-images img:last-child {
        bottom: 60px;
        right: 55%; }
  .explore-section1 {
    padding: 0 24px;
    margin-bottom: 64px; }
    .explore-section1 .row {
      flex-wrap: wrap; }
      .explore-section1 .row .column {
        width: 100%;
        flex: 0 0 100%; }
    .explore-section1 .title {
      display: none; }
    .explore-section1 .title-mobile {
      display: block;
      max-width: 324px; }
    .explore-section1 .description {
      max-width: 100%;
      margin-left: 0;
      padding-left: 50px; }
    .explore-section1 .scroll-to {
      display: none; }
    .explore-section1 .slider-wrapper {
      margin-left: -200px;
      gap: 16px; }
      .explore-section1 .slider-wrapper .sliding-items .slider-buttons {
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-bottom: 30px; }
        .explore-section1 .slider-wrapper .sliding-items .slider-buttons > div {
          width: 34px;
          height: 34px; }
          .explore-section1 .slider-wrapper .sliding-items .slider-buttons > div.next-slide {
            border-color: #D2C6A5; }
      .explore-section1 .slider-wrapper .active-slide {
        min-width: 330px;
        height: 488px; }
  .explore-section2 {
    padding: 0 24px; }
    .explore-section2 .container .row {
      flex-wrap: wrap;
      margin: 0 -8px; }
      .explore-section2 .container .row .col {
        width: 50%;
        flex: 0 0 50%;
        padding: 0 8px; }
        .explore-section2 .container .row .col:first-child {
          width: 100%;
          flex: 0 0 100%; }
        .explore-section2 .container .row .col:last-child {
          margin-top: -200px; } }
        @media (max-width: 991px) and (max-width: 591px) {
          .explore-section2 .container .row .col:last-child {
            margin-top: -220px; } }
        @media (max-width: 991px) and (max-width: 446px) {
          .explore-section2 .container .row .col:last-child {
            margin-top: -270px; } }

@media (max-width: 991px) {
    .explore-section2 .title {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 32px; }
    .explore-section2 .description {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      width: 50%;
      margin: 0 0 40px 0; }
  .explore-section3 {
    margin-top: 32px;
    padding: 0 0 0 24px; }
    .explore-section3 .row {
      padding: 0; }
      .explore-section3 .row .image {
        padding-right: 24px;
        margin-bottom: 32px; }
      .explore-section3 .row .slider-wrapper {
        overflow: hidden; }
        .explore-section3 .row .slider-wrapper .big-slider {
          width: 130%; }
          .explore-section3 .row .slider-wrapper .big-slider .bigSwiper .swiper-button-prev-big, .explore-section3 .row .slider-wrapper .big-slider .bigSwiper .swiper-button-next-big {
            top: 25px; }
          .explore-section3 .row .slider-wrapper .big-slider .bigSwiper .swiper-pagination-big {
            top: 17px; }
  .explore-section4 .testimonials {
    padding: 64px 0 64px 24px; }
    .explore-section4 .testimonials .row {
      overflow: hidden;
      margin-right: 0; }
      .explore-section4 .testimonials .row .col {
        min-width: 331px; }
    .explore-section4 .testimonials .title {
      font-weight: 100;
      font-size: 40px;
      line-height: 48px; }
    .explore-section4 .testimonials .cart {
      padding: 32px 24px; }
      .explore-section4 .testimonials .cart .cart-number {
        font-weight: 100;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 16px; }
      .explore-section4 .testimonials .cart .cart-image {
        width: 100%;
        margin-bottom: 32px; }
      .explore-section4 .testimonials .cart .cart-description {
        margin-bottom: 55px; }
      .explore-section4 .testimonials .cart .cart-footer {
        margin: 0; }
  .explore-section5 .lookbook {
    padding: 32px 24px 32px 24px; }
    .explore-section5 .lookbook .repeat-text span {
      font-weight: 100;
      font-size: 40px;
      line-height: 48px; }
    .explore-section5 .lookbook .content {
      flex-direction: column-reverse; }
      .explore-section5 .lookbook .content .column {
        width: 100%;
        flex: 0 0 100%; }
        .explore-section5 .lookbook .content .column .right .column {
          width: 50%;
          flex: 0 0 50%;
          display: flex;
          justify-content: center; }
          .explore-section5 .lookbook .content .column .right .column img {
            width: 182px;
            height: 280px; } }
