@import url("http://fonts.cdnfonts.com/css/canela-text-trial");

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-Thin.ttf) format('ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-ExtraLight.ttf) format('ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-Light.ttf) format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-Regular.ttf) format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-Medium.ttf) format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-SemiBold.ttf) format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-Bold.ttf) format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-ExtraBold.ttf) format('ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-Black.ttf) format('ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Canela';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Canela-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Canela-Trial';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Canela-Light-Trial.otf) format('otf');
}

@font-face {
    font-family: 'Canela-Trial';
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/Canela-LightItalic-Trial.otf) format('otf');
}

@font-face {
    font-family: 'Canela-Trial';
    font-weight: 100;
    font-style: italic;
    src: url(../fonts/Canela-Thin-Trial.otf) format('otf');
}

@font-face {
    font-family: 'Canela-Trial';
    font-weight: 100;
    font-style: italic;
    src: url(../fonts/Canela-ThinItalic-Trial.otf) format('otf');
}
